form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 16px;
}

form h1 {
    margin: 0;
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.input-group label {
    font-size: 1.5rem;
}

.input-group input {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 50px;
    text-align: center;
    outline: none;
    background-color: #d4edda;
    border: 2px solid #0e8229;
}

.input-group input:focus {
    background: #fff;
    border: 2px solid black;
}

.input-group.invalid input {
    outline: none;
    background: #ffcbd1;
    border: 2px solid red;
}

.input-group.invalid p {
    color: red;
    margin: 0 0 0 10px;
}

.noAccount button {
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    background: none;
    text-decoration: underline;
    color: #0000ff;
}